@font-face {
  font-family: NBInternational;
  src: url("../fonts/NBInternationalProBoo.ttf");
}
@font-face {
  font-family: Headerline;
  src: url("../fonts/Headline.ttf");
}
/* ---------- */
:root {
  --color-white: #fff;
  --color-light: #f3eeea;
  --color-beige: #ebe3d5;
  --color-coffee: #b0a695;
  --color-brown: #776b5d;
  --color-orange: #f9b572;
  --color-black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NBInternational", sans-serif;
  font-weight: normal;
}
html,
body {
  height: 100%;
  width: 100%;
  background: var(--color-coffee);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}
#hero {
  height: 100vh;
  width: 100%;
  background: var(--color-coffee);
  position: relative;
}
#cursor {
  width: 7.5vw;
  height: 7.5vw;
  background: var(--color-orange);
  border-radius: 50%;
  z-index: 9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#cursor h5 {
  font-size: 1.15vw;
  font-weight: 500;
  text-align: center;
}
#hero video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#hero-content {
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.321); */
  position: relative;
  z-index: 10;
  color: var(--color-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw;
}
nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}
nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
}
#hero-content h1 {
  font-family: "Headerline", sans-serif;
  font-size: 27vw;
  font-weight: 100;
  line-height: 27vw;
  z-index: 10;
}
#hero-content h1 span {
  font-family: "Headerline", sans-serif;
}
#content-introduce {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 2.8vw;
}
#content-introduce-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #00000092;
}
#content-introduce-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width: 26%;
}
#content-introduce-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}
.elem {
  overflow: hidden;
}
.elem h2 {
  font-size: 4vw;
  font-weight: 500;
}
#page-topic {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}
#page-topic-top {
  text-align: center;
}
#page-topic-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}
#page-topic-top h4 span {
  font-weight: 0.7vw;
  background: var(--color-black);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 3rem;
}
#page-topic-top h2 {
  font-size: 4vw;
  font-weight: 500;
}
#page-elements {
  --column: 3;
  --gap-y: 16px;
    
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  grid-gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-top: 6vw;
}
#page-elements .box {
  height: fit-content;
  width: calc(
    (100% - (var(--gap-y) * (var(--column) - 1))) / var(--column)
  );
  background: var(--color-brown);
  overflow: hidden;
}
#page-elements .box > .wrapper {
  position: relative;
  padding-top: 56.25%;
}
#page-elements .box > .wrapper > *:is(video, img) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
